$background: #ccc;
$bg_hover: #c5d15acc;

.switcher {
	display: flex;
	height: 32px;

	&__tag_center {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 45px;
		border-left: 1px solid;
		border-right: 1px solid;
		background: $background;
	}
}
