.input {
	display: flex;
	position: relative;
	&__input {
		margin-top: 10px;
		margin-bottom: 10px;
		background: none;
		// height: 100%;
		// width: 100%;

		background: #ccc;
		padding: 5px 10px;
	}

	&__label {
		position: absolute;
		top: 0;

		left: 10px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: rgb(119, 118, 118);
		transition: left 300ms, top 300ms;
		&:hover {
			cursor: text;
		}
	}

	&__input:not(:placeholder-shown) + &__label {
		color: rgb(0, 0, 0);
		top: -25px;
		left: 0;
		font-size: 12px;
	}
}
