.create_block {
	margin-bottom: 20px;
	&__button {
		margin-right: 20px;
		border: 1px solid black;
		padding: 7px;
		height: 32px;
	}
	&__button:last-child {
		margin-right: 0;
	}
	&__select {
		min-width: 80px;
		margin-right: 10px;
		margin-bottom: 10px;
	}
}
