.select {
	display: inline-block;
	justify-content: center;
	align-items: center;
	position: relative;
	// z-index: 2;
	margin: auto 0;
	&__background {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background-color: rgba(212, 0, 255, 0.288);
	}
	&__field {
		cursor: pointer;
		text-align: center;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 32px;
		// border: 1px solid;
		padding: 0 10px;
		background: #ccc;
	}
	&__dropdown {
		position: absolute;
		width: 100%;
		padding: 5px 0;
		max-height: 220px;
		overflow-y: auto;
	}
	&__value {
		cursor: pointer;
		padding: 5px 0px;
		text-align: center;
		width: 100%;
		&:hover {
			background: #ccc;
			box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.25);
		}
	}

	&__delete {
		cursor: pointer;
		display: none;
		background: #ccc;
		color: darkred;
		position: absolute;
		height: 100%;
		width: 30px;
		justify-content: center;
		align-items: center;
		z-index: 1;
		padding: 7px;
		box-shadow: 5px 0px 5px -2px rgba(0, 0, 0, 0.2);
		&:hover {
			background: #bfbfbf;
		}
	}
	&:hover &__delete {
		display: block;
		right: -30px;
	}
}
