.select {
	display: inline-block;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
	&__background {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background-color: rgba(212, 0, 255, 0.288);
	}
	&__field {
		cursor: pointer;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 32px;
		// border: 1px solid;
		padding: 0 10px;
		background: #ccc;
	}
	&__dropdown {
		position: absolute;
		width: 100%;
		padding: 5px 0;
	}
	&__value {
		cursor: pointer;
		padding: 5px 0px;
		text-align: center;
		width: 100%;
		&:hover {
			background: #ccc;
			box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.25);
		}
	}
}
